extends ../layouts/common.pug

block content
	h1 Login

	if errors
		.alert.alert-danger=errors

	form(action="", method="POST")
		.form-group
			label(for="email") Email
			input#email.form-control(name="email", type="text", value=view ? view.email : "")

		.form-group
			label(for="password") number
			input#password.form-control(name="password", type="text",value=view ? view.password : "")

		button.btn.btn-primary login