extends ../layouts/common.pug

block content
	h1 create user

	if errors
		.alert.alert-danger=errors

	form(action="/users/create", method="POST")
		.form-group
			label(for="name") Name
			input#name.form-control(name="name", type="text", value=view ? view.name : "")

		.form-group
			label(for="number") number
			input#number.form-control(name="number", type="text",value=view ? view.number : "")

		button.btn.btn-primary create